
# Rails
/.bundle
vendor/bundle
/log/*
!/log/.keep
/tmp
/db/*.sqlite3
/db/*.sqlite3-journal
doc/
app/log/*
*.swp
*~
.project
.DS_Store
._.DS_Store
.idea
.secret
.rspec
.env

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
